<div ng-controller="ChangePasswordController">
    <div class="header1"></div>
    <div class="center1" id="container">
        <div class="logo1"><img src="images/logo.png" /></div>
        <div class="center-bg1" ng-init="init()">
            <div class="left1"><img src="images/Logo-big.png" /></div>
            <form name="myForm" id="login">

                <div class="right1">
                   
                    <p class="login-hading1"> Change Password </p>
              
                    <p>
                        <div class="icon12" ng-if="!myForm.pswd.$invalid && hjy && myForm.pswd.$dirty "><img src="images/correct2.jpg" /> </div>
                        <div class="icon41"  ng-if="myForm.pswd.$invalid"><img src="images/incorrect.png" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="8 characters (A-Z,a-z,0-9, !,@,#,% only)" /> </div>
                        <input name="pswd" id="pswd" class="login1" ng-change="changePassword(1)" ng-blur="checkClicked()" ng-focus="checkFocus()"  autocomplete="off" placeholder="New password" size="250" maxlength="250" value="" type="password" ng-model="password" ng-required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                    </p>
                    <!--<div style="clear:both;"></div>
                    <ul class="helper-text" id="pwd">
                        <li class="length">Must be at least 8 characters long.</li>
                        <li class="lowercase">Must contain a lowercase letter.</li>
                        <li class="uppercase">Must contain an uppercase letter.</li>
                        <li class="special">Must contain a number or special character.</li>
                    </ul>-->
                    

                    <p>
                        <!--<div class="icon21"><img src="images/icon2.png" /></div>-->
                        <input name ="confirmpassword" class="login1" ng-change="changePassword(2)" ng-blur="checkClicked()"  id="confirmpassword" autocomplete="off" placeholder="Confirm password" size="250" maxlength="250" value="" type="password" ng-model="confirmpassword" ng-required pw-check="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                    </p>

                    <div style="clear:both;"></div>
                    <div class='msg-block' ng-show='myForm.$error'>
                        <span class='msg-error' ng-show='myForm.confirmpassword.$error.pwmatch'>
                            Passwords don't match.
                        </span>
                    </div>
                    
                    <div class="button2 btn primary" ng-disabled="myForm.$invalid || isClicked || islengthZero" ng-click="changepassword()"><p class="text-h12">Reset Password</p></div>
                    
                   
                </div>
            </form>
            <!--<div id="pswd_info">
                <h4>Password must include:</h4>
                <ul>
                    <li id="length" class="invalid">At least <strong>8 characters</strong></li>
                    <li id="letter" class="invalid">At least <strong>one lower letter</strong></li>
                    <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                    <li id="number" class="invalid">At least <strong>one number</strong></li>
                    <li id="special" class="invalid">At least <strong>one special character</strong></li>
                </ul>
            </div>-->

                    


        </div>

        <div class="shadow1"></div>
        <img src="images/shadow1.png" />
    </div>



</div>