<div ng-controller="EditHFMUnitController" ng-init="init()">


    <div class="continer-padding-fistheader  view-background">

        <div class="hell">
            <div class="caption">
                <span class="font-color">
                    {{pagehead}} Business Unit : {{HFM_LABEL}}
                </span>
                <!--<div class="dropdown pull-right ">
                 <select class="input-block-level repeat-animation" ng-model="periodvalue" ng-change="changeData(periodvalue)" ng-options="obj.description for obj in periodData |orderBy: '-description'"></select>
                    <perioddropdown></perioddropdown>
                 </div>-->
                <div class="dropdown pull-right">
                    <div class="dropdown pull-right" style="width: 140px;">
                        <div class="input-group ">
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o font-red"></i>
                            </span>
                            <select class="input-block-level repeat-animation form-control" ng-model="periodvalue" ng-change="changeData(periodvalue)" ng-options="obj.description for obj in periodData |orderBy: '-description'"></select>

                        </div>
                    </div>


                </div>

            </div>


        </div>

        <div class=" row portlet-body boder-table ">

            <div class="table-toolbar boarder-box ">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="succ">
                            <button type="button" class="close" ng-click="closealert2()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4> {{hfmSuccess}}</h4>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="err">
                            <button type="button" class="close" ng-click="closealert3()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4> {{errMessage}}</h4>
                        </div>

                    </div>
                </div>
            
            <div class="row" ng-form="myForm">
                <div class="col-md-6 col-xs-6">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 ">
                            <h4 class="font-color-sub">General Information</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Business Unit:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-industry font-red"></i>
                                        </span>
                                        <input id="hfmName" name="hfmName" class="form-control" type="text" value="" ng-model="HFM_LABEL" placeholder="Enter Business Name..." required>
                                         <p ng-show="myForm.hfmName.$invalid && !myForm.hfmName.$pristine" class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Segment:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-stack-exchange font-red"></i>
                                        </span>
                                        <select class="form-control" id="Segment" name="Segment" ng-model="Segment" ng-options="obj.description for obj in segments" required></select>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">ERP:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-server font-red"></i>
                                        </span>
                                        <input id="erp" name="erp" class="form-control" type="text" value="" ng-model="ERP" placeholder="Enter ERP..." required>
                                         
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right">Comments:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new">
                                    <div class="pad-right">

                                        <textarea id='bucomments' class="form-control " rows="3" ng-model="BU_COMMENTS" required></textarea>
                                         
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                      <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h4 class="font-color-sub">Jurisdiction</h4>
                            <hr>
                           
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Country:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new" ng-class="{ 'has-error' : myForm.juris.$invalid && !myForm.juris.$pristine }">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-globe font-red"></i>
                                        </span>
                                        <select class="form-control" id="juris" ng-model="country"  ng-options="obj.description for obj in countries" required></select>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Region:</label>

                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-globe font-red"></i>
                                        </span>
                                         <input id="region" name="region" class="form-control" ng-model="region" type="text" value="" placeholder="Enter Region..." required>
                                       

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    
                   
                </div>
                <div class="col-md-6 col-xs-6">
                   
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h4 class="font-color-sub">Important Dates</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Incorporated:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 ">
                                    <div class="input-group pad-right form-group-new">
                                        <input id="Incorporated_Dt" name="Incorporated_Dt" type="Incorporated_Dt" class="form-control" ng-readonly="readonly" ng-model="strIncorporated_Dt" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="isOpened1" min-date="minDate" init-date=null max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" required />
                                        
                                        <span class="input-group-btn">
                                            <button type="button" class="btn " ng-click="isOpened1 = !isOpened1"><i class="fa fa-calendar font-red"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Aquisition:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 ">
                                    <div class="input-group pad-right form-group-new">
                                        <input type="text" id="Acquisition_Dt" name="Acquisition_Dt" class="form-control" ng-readonly="readonly" ng-model="strAcquisition_Dt" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="isOpened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" required />
                                       
                                        <span class="input-group-btn">
                                            <button type="button" class="btn " ng-click="isOpened2 = !isOpened2"><i class="fa fa-calendar font-red"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top form-group-new">
                                    <label class="control-label pull-right ">Disposition:</label>
                                </div>

                                <div class="col-md-7 col-xs-7 ">
                                    <div class="input-group pad-right form-group-new">
                                        <input type="text" class="form-control" id="Disposition_Dt" name="Disposition_Dt" ng-readonly="readonly" ng-model="strDisposition_Dt" uib-datepicker-popup="{{format}}" ng-model="dt3" is-open="isOpened3" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" required />
                                        <p ng-show="myForm.Disposition_Dt.$invalid && !myForm.Disposition_Dt.$pristine" class="help-block"></p>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn " ng-click="isOpened3 = !isOpened3"><i class="fa fa-calendar font-red"></i></button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Merged Date:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 ">
                                    <div class="input-group pad-right form-group-new">
                                        <input type="text" class="form-control" id="Merge_Dt" name="Merge_Dt" ng-readonly="readonly" ng-model="strMerge_Dt" uib-datepicker-popup="{{format}}" ng-model="dt4" is-open="isOpened4" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" required />
                                       
                                        <span class="input-group-btn">
                                            <button type="button" class="btn " ng-click="isOpened4 = !isOpened4"><i class="fa fa-calendar font-red"></i></button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h4 class="font-color-sub">Primary Contacts</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Finance Leader:</label>
                                </div>

                                <div class="col-md-7 col-xs-7 form-group-new" ng-class="{ 'has-error' : myForm.fin_leader.$invalid && !myForm.fin_leader.$pristine }">
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user font-red"></i>
                                        </span>
                                        <select class="form-control" id="fin_leader" name="fin_leader" ng-model="fl" ng-options="obj.user_name for obj in fusers" required></select>
                                        <p ng-show="myForm.fin_leader.$invalid && !myForm.fin_leader.$pristine" class="help-block"></p>

                                    </div>

                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 pad-top">
                                    <label class="control-label pull-right ">Regional Tax Manager:</label>
                                </div>
                                <div class="col-md-7 col-xs-7 form-group-new" >
                                    <div class="input-group pad-right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user font-red"></i>
                                        </span>
                                        <select class="form-control" id="regional_mgr" name="regional_mgr" ng-model="rtm"  ng-options="obj.user_name for obj in rusers" required></select>
                                       
                                    </div>

                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-11 col-xs-11 form-group pad-top pad-botm">
                                    <button type="button" class="btn btn-primary pull-right margin-right " ng-click="add()" ng-hide="edit">ADD <i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-primary pull-right margin-right" ng-click="save()" ng-show="edit">SAVE</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"><hr></div>
            <div ng-show="viewTabs" ng-form="workbookForm">
                <div class="alert alert-success alert-dismissible" role="alert" ng-if="suc">
                    <button type="button" class="close" ng-click="closealert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4> {{success}}</h4>
                </div>
                 <div class="alert alert-danger alert-dismissible" role="alert" ng-show="er">
                        <button type="button" class="close" ng-click="closealert4()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4> {{error}}</h4>
                    </div>
                <div class="hell col-lg-12 col-md-12  col-xs-12 ">
                    <div class="caption">
                        <span class="font-color">
                            WORKBOOK
                        </span>

                    </div>
                </div>

                <div class="boder-table col-lg-12 col-md-12  col-xs-12 ">

                    <div class="row pad-row-top">
                        <div class="col-md-1 col-xs-1 pad-top">
                            <label class="control-label pull-right pad-top">Workbook:</label>
                        </div>
                       <div class="col-md-3 col-xs-3 form-group-new pad-top">
                            <div class="input-group pad-right">
                                 <span class="input-group-addon">
                                     <i class="fa fa-industry font-red"></i>
                                  </span>
                               <input type="text" id="textWorkbook" name="textWorkbook" ng-model="HFMJSON" uib-typeahead="wrk as wrk.workbook_name for wrk in unmappedWorkbooks | filter:$viewValue | limitTo:100" placeholder=" Search..." class="form-control" required>
                            <p ng-show="workbookForm.textWorkbook.$invalid && !workbookForm.textWorkbook.$pristine" class="help-block"></p>
                            </div>
                        </div>
                         <div class="col-md-1 col-xs-1 pad-top">
                                        <label class="control-label pull-right "> Effective Date:</label>
                                    </div>
                                    <div class="col-md-2 col-xs-2 form-group pad-zero">
                                        <div class="input-group pad-right form-group-new">
                                        <input id="Effective_Dt" name="Effective_Dt" type="Effective_Dt" class="form-control" ng-readonly="readonly" ng-model="strEffective_Dt" uib-datepicker-popup="{{format}}"  is-open="isOpened8" min-date="minDate" init-date="null" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" required />
                                        
                                        <span class="input-group-btn">
                                            <button type="button" class="btn " ng-click="isOpened8 = !isOpened8"><i class="fa fa-calendar font-red"></i></button>
                                        </span>
                                    </div>
                                    </div>
                        <div class="col-md-1 col-xs-1 pad-top">
                            <label class="control-label pull-right pad-top">Comments:</label>
                        </div>
                        <div class="col-md-3 col-xs-3 form-group-new pad-top">
                            <div class="input-group pad-right">
                                <span class="input-group-addon">
                                    <i class="fa fa-comment font-red"></i>
                                </span>
                                <input id="cmnts" name="cmnts" " class=" form-control" ng-model="workComments.comment" type="text" value="" placeholder="Enter Comment">
                                  <p ng-show="workbookForm.cmnts.$invalid && !workbookForm.cmnts.$pristine" class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1 form-group pad-top ">
                            <button type="button" class="btn btn-primary pull-right margin-right" ng-disabled="workbookForm.$invalid" ng-click="addWorkbook(HFMJSON,workComments.comment)">ADD <i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 ">
                            <table id="dtOwnership" datatable dt-options="dtOwnership" dt-columns="dtColumnsOwnership" dt-instance="dtInstanceOwnership" class="table table-striped table-hover table-bordered"></table>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        </div>
    </div>
</div>

