<meta name="viewport" content="width=device-width, initial-scale=1" />
<div ng-controller="VersionRelease1.2">
    <div class="main-login1" id="version">
        <div class="header11"></div>
        <div class="center110011">
            <div class="logo11"><img src="images/logo.png" /></div>
            <div class="center-bg110011" ng-init="init()">

                <div class="head1">
                    <h3> V 1.2 </h3>
                    <span class="back-btn">
                        <a href="#/Version"><img src="images/back1.png" /></a>
                                        </span>
                </div>
                <div class="notes2">
                    <h4>
                        <p> Version 1.2 Attribute management tab is added under Administration. User can add new attributes to the Legal Entity.
                            We can manipulate these new attributes for all Legal Entities from View and Edit screens </p>
                       
                    </h4>
                    <h5>
                        <p> Release Date:</p>
                        <p> August 01, 2017</p>
                        <p> Build Number: </p>
                        <p>  </p>
                    </h5>

                </div>


                <table class="table table-bordered notes1">
                    <thead>
                        <tr>
                            <th>Issue ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">501</th>
                            <td> Attribute Management tab is added under Administration </td>
                        </tr>
                        <tr>
                            <th scope="row">502</th>
                            <td> User can add new Attributes and the New Attributes can be enabled/disabled </td>
                        </tr>
                       <tr>
                            <th scope="row">502</th>
                            <td>Newly added Attributes are managed from View and Edit Screen for all the LEs </td>
                        </tr>
                   
                    </tbody>
                </table>


            </div>

            <!--<div class="shadow11">
                <img src="images/shadow11.png" />
            </div>-->
        </div>
    </div>
</div>
