<meta name="viewport" content="width=device-width, initial-scale=1" />
<div ng-controller="VersionRelease1.1.0.1">
    <div class="main-login1" id="version">
        <div class="header11"></div>
        <div class="center11001">
            <div class="logo11"><img src="images/logo.png" /></div>
            <div class="center-bg11001" ng-init="init()">

                <div class="head1">
                    <h3> V 1.1.1 </h3>
                    <span class="back-btn">
                        <a href="#/Version"><img src="images/back1.png" /></a>
                    </span>
                </div>
                <div class="notes2">
                    <h4>
                        <p> Version 1.1.1 LEA offers the latest filter options on top the existing ones on the organization charts like filter by percentage or jurisdictionor any Legal Entity. Apart from that the other features which are in this release include Download option for pre- populated Form 851 and XML export Org Chart  </p>

                    </h4>
                    <h5>
                        <p> Release Date:</p>
                        <p> Jan 01, 2016</p>
                        <p> Build Number: </p>
                        <p> 1000.16.0812.0003 </p>
                    </h5>

                </div>


                <table class="table table-bordered notes1">
                    <thead>
                        <tr>
                            <th>Issue ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">401</th>
                            <td>Filter by % on org chart </td>
                        </tr>
                        <tr>
                            <th scope="row">402</th>
                            <td>Filter by jurisdiction on org chart</td>
                        </tr>
                        <tr>
                            <th scope="row">403</th>
                            <td>Filter by LE on org chart</td>
                        </tr>
                        <tr>
                            <th scope="row">404</th>
                            <td>XML Export on Org Chart</td>
                        </tr>
                        <tr>
                            <th scope="row">405</th>
                            <td>Form 851 Export on Org Chart</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <!--<div class="shadow11">
                <img src="images/shadow11.png" />
            </div>-->
        </div>
    </div>
</div>
