<meta name="viewport" content="width=device-width, initial-scale=1" />
<div ng-controller="VersionReleaseController">
    <div class="main-login1" id="version">
        <div class="header11"></div>
        <div class="center11001">
            <div class="logo11"><img src="images/logo.png" /></div>
            <div class="center-bg11001" ng-init="init()">

                <div class="head1">
                    <h3> V 1.0 </h3>
                    <span class="back-btn">
                        <a href="#/Version"><img src="images/back1.png" /></a>
                    </span>
                </div>
              
                <div class="notes2">
                    <h4>
                       <p> Version 1.0 LEA offers all the major features required for Legal entity management -
                         which has many option to view entity relationships, organization charts with different 
                            export options and many more </p>
                    </h4>
                    <h5>
                        <p> Release Date:</p>
                        <p> March 30, 2015</p>
                        <p> Build Number: </p>
                        <p> 1000.16.0812.0001 </p>
                    </h5>
                  
                </div>

               
                <table class="table table-bordered notes1">
                    <thead>
                        <tr>
                            <th>Issue ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">001</th>
                            <td>Legal Entity Dashboard</td>
                        </tr>
                        <tr>
                            <th scope="row">002</th>
                            <td>Business Unit Dashboard</td>
                        </tr>
                        <tr>
                            <th scope="row">003</th>
                            <td>Workbook Dashboard</td>
                        </tr>
                        <tr>
                            <th scope="row">004</th>
                            <td>TimeLine</td>
                        </tr>
                        <tr>
                            <th scope="row">005</th>
                            <td>Reports</td>
                        </tr>
                        <tr>
                            <th scope="row">006</th>
                            <td>Organization charts</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <!--<div class="shadow11">
                <img src="images/shadow11.png" />
            </div>-->
        </div>
    </div>
</div>
