<meta name="viewport" content="width=device-width, initial-scale=1" />
<div ng-controller="VersionRelease1.1">
    <div class="main-login1" id="version">
        <div class="header11"></div>
        <div class="center11001">
            <div class="logo11"><img src="images/logo.png" /></div>
            <div class="center-bg11001" ng-init="init()">

                <div class="head1">
                    <h3> V 1.1 </h3>
                    <span class="back-btn">
                        <a href="#/Version"><img src="images/back1.png" /></a>
                    </span>
                </div>
                <div class="notes2">
                    <h4>
                        <p> Version 1.1  LEA offers the enhanced security features apart from the AD authentication 
                         in this release. It lets you add your own users, manage them as per the SSAE compliance.</p>      
                    </h4>
                    <h5>
                        <p> Release Date:</p>
                        <p> September 01, 2015</p>
                        <p> Build Number: </p>
                        <p> 1000.16.0812.0002 </p>
                    </h5>

                </div>


                <table class="table table-bordered notes1">
                    <thead>
                        <tr>
                            <th>Issue ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">201</th>
                            <td>Username and Password authentication</td>
                        </tr>
                        <tr>
                            <th scope="row">202</th>
                            
                            <td> User Account Administration</td>
                        </tr>
                        <tr>
                            <th scope="row">203</th>
                            <td>Disable User Accounts after 90 days of inactivity</td>
                        </tr>
                        <tr>
                            <th scope="row">204</th>
                            <td>Account Lock Out Functionality</td>
                        </tr>
                        <tr>
                            <th scope="row">205</th>
                            <td>Password Criteria</td>
                        </tr>
                        <tr>
                            <th scope="row">206</th>
                            <td>UserID standards</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <!--<div class="shadow11">
                <img src="images/shadow11.png" />
            </div>-->
        </div>
    </div>
</div>
