[fixed-first-column] {position:relative}
[fixed-first-column]>.table-responsive {margin-left:250px;}
[fixed-first-column]>.table-responsive .table {}

[fixed-first-column]>.table-responsive .table>thead>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>thead>tr>th:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>th:first-child {
    position: absolute;
    max-width: 250px;
    width: 250px;
   text-align:center;
   
    /*border-right: 1px solid #ddd !important;*/
    /*border-bottom:1px solid #ddd !important;*/
    border-left: 1px solid #ddd !important;
    /*border-top:1px solid #ddd !important;*/
	left:0;
	top:auto;
	padding-top:0 !important;
	padding-bottom:0 !important;
}

[fixed-first-column] > .table-responsive .table > thead > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > thead > tr > th:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > th:first-child > div {
	padding-top: 5px;
	padding-bottom: 5px;
 	position:relative;
}

[fixed-first-column] td {
    /*min-width:150px; 
	max-width:300px;*/
}
tbody td,tbody tr{
    min-height:35px !important;
}
.container {
    margin-top: 20px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.image-preview-input-title {
    margin-left: 2px;
}


