<div ng-controller="VersionController">
    <div class="page-footer-inner">
        <div class="continer-padding text-center">

            <a class="navbar-brand" style="float:left;">
                <img alt="Brand" ng-src="../images/footer/foot_logo.png" />
            </a>
            <span class="vers-footer">
                <a id="ver-footer" style="float:right; line-height:25px;" ng-href="#/Version">
                    <h4> V 1.2 </h4>
                </a>
            </span>

            <div class="col-1g-10 col-md-10 col-sm-12 col-xs-12 nopadding">

            </div>

        </div>

    </div>
</div>